@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Bugfast";
  src: url("/fonts/Bugfast-KnZD.ttf");
}

@layer utilities {
    .animation-delay-2000 {
      animation-delay: 2s;
    }
    .animation-delay-4000 {
      animation-delay: 4s;
    }
  }